
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>Model Composition</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <link rel="icon" type="image/x-icon" href="/assets/static/logo.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#e77500">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="_layouts/style.css">

    <!-- MathJax -->
    <script
      type="text/javascript"
      async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"
    >
    </script>

    <!-- OG cards, including feishu, facebook, etc. -->
    <meta name="og:title"   content="Model Composition">
    <meta name="og:image"   content="https://fzacker.github.io/model-composition.github.io/assets/static/preview-card.png">
    <meta name="og:description" content="Model Composition for Multimodal Large Language Models">
    <meta name="og:url" content="https://fzacker.github.io/model-composition.github.io/model-composition.html">

    <!-- Twitter cards -->
    <meta name="twitter:title"   content="Model Composition">
    <meta name="twitter:card"    content="summary_large_image">
    <meta name="twitter:image"   content="https://fzacker.github.io/model-composition.github.io/assets/static/preview-card.png">
    <meta name="twitter:description" content="Model Composition for Multimodal Large Language Models">
  </head>
  <body>
    <header class="page-header" role="banner">
      <font size=6><b>Model Composition for Multimodal Large Language Models</b></font>

      <!--<div style="margin-top: 1rem">

        <img src="/assets/static/logo.jpg" style="width:4em;vertical-align: middle" alt="Logo"/> <span style="vertical-align: middle"><font size=5>AgentForce Team</font></span><br>
      </div>-->

      <div style="margin-top: 2rem">
        <!-- <span class="author-block">Xiang Yue*<sup style="color:#6fbf73;">†,1</sup>,</span> -->
        <span class="author-block">
          <font size=4><a href="https://carboncoo.github.io" style="text-decoration: none; color: inherit;">Chi Chen<sup>*,1</sup></a></font>,
        </span>
        <span class="author-block">
          <font size=4><a href="https://adu2021.github.io/" style="text-decoration: none; color: inherit;">Yiyang Du<sup>*,1</sup></a></font>,
        </span>
        <font size=4><span class="author-block">Zheng Fang<sup>1</sup>,</span></font>
        <font size=4><span class="author-block">Ziyue Wang<sup>1</sup>,</span></font>
        <font size=4><span class="author-block">Fuwen Luo<sup>1</sup>,</span></font>
        <span class="author-block">
          <font size=4><a href="https://www.lpeng.net/" style="text-decoration: none; color: inherit;">Peng Li<sup>2</sup>,</a></font>
        </span><br>
        <font size=4><span class="author-block">Ming Yan<sup>3</sup>,</span></font>
        <font size=4><span class="author-block">Ji Zhang<sup>3</sup>,</span></font>
        <font size=4><span class="author-block">Fei Huang<sup>3</sup>,</span></font>
        <font size=4><span class="author-block">Maosong Sun<sup>1</sup>,</span></font>
        <span class="author-block">
          <font size=4><a href="https://nlp.csai.tsinghua.edu.cn/~ly/" style="text-decoration: none; color: inherit;">Yang Liu<sup>1,2</sup></a></font>
        </span>
      
      </div>
      

      <div style="margin-top: 1rem">
        <font size=4><sup>*</sup> Equal Contribution </font><br>
        <font size=4><sup>1</sup> <a href="https://www.cs.tsinghua.edu.cn/csen/">Department of Computer Science and Technology, Tsinghua University</a></font><br>
        <font size=4><sup>2</sup> <a href="https://air.tsinghua.edu.cn/en/">Institute for AI Industry Research (AIR), Tsinghua University</a></font><br>
        <font size=4><sup>3</sup> Institute of Intelligent Computing, Alibaba Group</a></font><br>
      </div>
      
      <a href="https://arxiv.org/abs/2402.12750" class="btn"><b>📝&emsp;Paper</b></a>
      
      <a href="" class="btn"><b>💰&emsp;Code for Model Composition</b></a>
      
      <a href="" class="btn"><b>🌐&emsp;Live Site</b></a>
    </header>

    <main id="content" class="main-content" role="main">
      <div style="text-align:center;margin-bottom: 2rem">
          <font size=4> Our proposed model composition method that creates a versatile model from existing MLLMs through a training-free and extensible process:</font>
          <br>
      </div>

      <div style="text-align:center;">
        <img src="/assets/static/fig-1.png" width="80%">
      </div>

      <!--<video controls width="100%" autoplay muted loop>
      <source src="assets/static/vid-1.mp4" type="video/mp4">
      </video>-->

      {{ content }}

      <!-- <footer class="site-footer">
        <span style="vertical-align: middle"><b>This project is powered by</b></span> <img src="/assets/static/logo.jpg" style="width:3em;vertical-align: middle" alt="Logo"/> <span style="vertical-align: middle"><b>AgentForce Team, affiliated with <a href="https://www.cs.tsinghua.edu.cn/csen/">DCST</a> and <a href="https://air.tsinghua.edu.cn/en/">AIR</a> in Tsinghua University. The environment construction in the proof-of-concept studies is heavily inspired by the original <a href="https://webshop-pnlp.github.io/">WebShop</a> environment.</b></span>
        </span>
      </footer> -->
    </main>
  </body>
</html>